%div{class:"g-plusone", "data-size" => "medium", "data-href" => "https://plus.google.com/111636487359558227236/posts"}
%div{id: "fb-root"}
  %span.div{"id"=>"fb-root", "class"=>"fb-like", "data-href"=>"https://www.facebook.com/profile.php?id=#{Settings.social.google_app_id}", "data-layout"=>"standard", "data-action"=>"like", "data-show-faces"=>"true", "data-share"=>"true"}
